wordpress-integration/wordpress_auth_workflow.json
{
  "name": "WordPress Authentication",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth",
        "options": {
          "responseMode": "responseNode"
        },
        "authentication": "none"
      },
      "name": "Authentication Endpoint",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"body\"][\"siteUrl\"]}}/wp-json/jwt-auth/v1/token",
        "options": {
          "method": "POST",
          "body": {
            "username": "={{$json[\"body\"][\"username\"]}}",
            "password": "={{$json[\"body\"][\"password\"]}}"
          },
          "allowUnauthorizedCerts": true,
          "bodyContentType": "json",
          "timeout": 20
        }
      },
      "name": "Request JWT Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"success\"]}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "Auth Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "firstInput",
        "options": {}
      },
      "name": "Return Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "responseCode": 401,
        "responseData": "firstInput",
        "options": {}
      },
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        380
      ]
    }
  ],
  "connections": {
    "Authentication Endpoint": {
      "main": [
        [
          {
            "node": "Request JWT Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request JWT Token": {
      "main": [
        [
          {
            "node": "Auth Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Successful?": {
      "main": [
        [
          {
            "node": "Return Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}